<header class="row">
    <div class="col">
        <div class="header">
            <div class="header__top">
                <nav class="d-lg-block d-none">
                    <ul class="header__top-list">
                        <li class="header__top-item"><a href="#">Магазины</a></li>
                        <li class="header__top-item"><a href="#">Каталог</a></li>
                        <li class="header__top-item"><a href="#">Объявления</a></li>
                        <li class="header__top-item"><a href="#">Консультация</a></li>
                        <li class="header__top-item"><a href="#">Контакты</a></li>
                    </ul>
                </nav>
                <div class="d-lg-none d-block">
                    <button class="hamburger hamburger--squeeze js-hamburger" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button> 
                </div>
                <div class="header__search js-mobile-input"></div>
                <div class="js-mobile-cart"></div>
                
                <div class="d-lg-flex d-none">
                    <a href="#!" class="header__signin">Войти</a>
                    <a href="#!" class="header__signin">Регистрация</a>
                </div>
            </div>
            <div class="header__bottom">
                <a href="#!">
                    <img src="../img/fauna logo.png" class="logo" alt="logo">
                </a>
                <div class="js-desktop-phone">
                    <ul class="header__phone-list">
                        <li class="header__phone-item"><a href="tel:+380993333333">+38 099 333 33 33</a></li>
                        <li class="header__phone-item"><a href="tel:+380993333333">+38 099 333 33 33</a></li>
                        <li class="header__phone-item"><a href="tel:+380993333333">+38 099 333 33 33</a></li>
                    </ul>
                </div>
                <div class="header__search js-desktop-input d-lg-block d-none">
                    <form action="" class="js-input">
                        <input type="text" placeholder="Поиск" class="header__search-input">
                        <label for="searchSubmit" class="header__search-label">
                            <input type="submit" class="header__search-submit" id="searchSubmit">
                        </label>
                    </form>
                </div>
                <div class="header__cart-container js-desktop-cart">
                    <a href="#" class="header__cart js-cart">
                        <div class="header__cart-img full">
                            <img src="../img/cart.png"  alt="cart">
                        </div>
                        <div class="d-none d-lg-block">
                            <p>27 937<span> грн.</span></p>
                        </div>                        
                    </a>
                </div>                
            </div>
            <div class="header__mobile-wrapper js-header-mobile">
                <div class="header__mobile">
                    <div class="header__mobile-login">
                        <a href="#!">Войти</a>
                        <a href="#!">Регистрация</a>
                    </div>
                    <nav>
                        <ul class="header__mobile-list">
                            <li class="header__mobile-item"><a class="header__mobile-link" href="#">Магазины</a></li>
                            <li class="header__mobile-item"><a class="header__mobile-link" href="#">Каталог</a></li>
                            <li class="header__mobile-item"><a class="header__mobile-link" href="#">Объявления</a></li>
                            <li class="header__mobile-item"><a class="header__mobile-link" href="#">Консультация</a></li>
                            <li class="header__mobile-item"><a class="header__mobile-link" href="#">Контакты</a></li>
                            <li class="header__mobile-item"><a class="header__mobile-link" href="#">Аптеки</a></li>
                            <li class="header__mobile-item"><a class="header__mobile-link" href="#">Клиники</a></li>
                            <li class="header__mobile-item"><a class="header__mobile-link" href="#">Статьи</a></li>
                        </ul>
                    </nav>
                </div>
            </div>            
        </div>
    </div>
</header>