<div class="row">
    <div class="col pagination-wrapper">
        <ul class="pagination">
            <li class="pagination__item">
                <a href="#" class="pagination__link--prev"></a>
            </li>
            <li class="pagination__item">
                <span href="#" class="pagination__link active">1</span>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">2</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">3</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">4</a>
            </li>
            <li class="pagination__item">
                <span href="#" class="pagination__link">...</span>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">20</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link--next"></a>
            </li>
        </ul>
    </div>
</div>