@import "bower_components/bootstrap/scss/bootstrap",
    "partials/variable",
    "partials/fonts",    
    "partials/layout",
    "partials/mixins",
    "partials/typography",
    "partials/buttons",
    "partials/feedback",
    "partials/article",
    "partials/contacts";
    

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main {
    flex:auto;
    width:100%;
    padding:0 0 115px;
    margin-top:70px;
    &--breadcrumbs {
        @extend .main;
        margin-top:30px;
    }
    &__block {
        display:flex;
        flex-direction:column;        
    }
    &__header {
        @include font-size(24px);
        margin-bottom:5px;
        &--underline {
            @extend .main__header;
            padding-bottom:5px;
            margin-bottom:30px;
            border-bottom:1px solid $grey;
        }
    }
    &__article {
        &-header {
            @include font-size(24px);
            margin-bottom:15px;
            font-weight:400;
        }
        &-date {
            @extend %date;
            margin-bottom:30px;
        } 
        &-thumb {
            display:block;
            max-width:100%;
            height:auto;
            margin-bottom:30px;
        }  
        &-text {
            @include font-size(16px);
            color:$grey;
            &:not(:last-child) {
                margin-bottom:30px;
            }
        }     
    }   

}

%date {
    @include font-size(14px);
    font-weight:300;
    font-style: italic;
    color:$light-grey;
}
%link {
    position: relative;
    display:block;    
    font-weight:500;
    padding-bottom:2px;
    color:$dark-purple;
    border:1px solid transparent;    
    transition:$main_animation;
    &:hover {
        color:$dark-purple;
        border-bottom-color: $dark-purple;
    }
}

.logo {
    max-width:70px;
    height:auto;
    display:block;
    &--footer {
        filter: grayscale(1) invert(100%);        
    }
}

.breadcrumbs {
    display:flex;
    list-style-type: none;
    &-wrapper {
        margin-top:30px;
    }
    &__item {
        @include font-size(16px);
        color:$grey;
        &:not(:last-child) {
            margin-right:10px;
            &:after {
                content:'/';
                margin-left:10px;
                color:$grey;
            }
        }
    }   
}

.pagination {
    display:flex;
    &-wrapper {
        display:flex;
        justify-content:center;
        align-items:center;
    }
    &__item {        
        &:not(:last-child) {
            margin-right:7px;
        }
    }
    &__link {
        display:flex;
        justify-content: center;
        align-items:center;
        width:30px;
        height:30px;
        background:$dark-purple;
        color:$white;
        text-align:center;
        line-height:100%;
        &:hover {
            color:$dark-purple;
            background:$yellow;
        }
        &.active {
            color:$dark-purple;
            background:$yellow;
        }
        &--next,&--prev {
            @extend .pagination__link;
            position:relative;
            &:before,&:after {
                content:'';
                display:block;
                position: absolute;
                top:50%;
                left:60%;
                width:13px;
                height:13px;
                border-bottom:1px solid $white;
                transform: translate(-50%,-47%) rotate(45deg);
                background:transparent;
            }
            &:after {
                transform: translate(-50%,-50%) rotate(135deg);
            }
            &:hover {
                &:before,&:after {
                    border-bottom-color: $dark-purple;
                }
            }
        }
        &--next {
            transform:scale(-1);
        }
    }
}