.body__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {   
    &__top {
        position: relative;
        display:flex;
        justify-content:space-between;
        align-items: center;
        height:33px;
        padding:0 60px;
        background:$light-purple;
        &-list {
            display:flex;
            list-style-type: none;
        }
        &-item:not(:last-child) {
            margin-right: 20px;
        }
    }
    &__signin:not(:last-child) {
        position: relative;
        padding-right:30px;
    }
    &__signin:first-child:after {
        content:'';  
        position:absolute;
        display:block;
        right:15px;
        top:50%;
        transform:translate(0,-50%);
        width:1px;
        height:15px;
        background:$grey;
        margin-left:15px;      
    }
    &__bottom {
        display:flex;
        justify-content:space-between;
        align-items:center;
        overflow:hidden;
        height:65px;
        padding:0 60px;
        box-shadow: 0px 1px 18px 2px rgba(162, 162, 162, 0.35);          
    }
    &__phone {
        &-list {
            list-style-type: none;
        }
        &-item {
            display:flex;
            align-items:center;
            line-height:17px;
            &:before {
                content:'';
                display:block;
                width:16px;
                height:16px;
                background:url(../../img/phone.png) center center no-repeat;
                background-size: contain;
                margin-right:10px;
            }
        }
    }
    &__cart {
        display:flex;
        align-items:center;
        &-img {
            position:relative;
            margin-right:8px;
        }
        &-img img {            
            display:block;
            max-width:20px;
            height:auto;            
        }
        &-img.full:before {
            content:'';
            display:block;
            position:absolute;
            right:-4px;
            top:0;
            width:8px;
            height:8px;
            border-radius: 50%;
            background:$dark-purple;
        }
        p {
            font-weight: 700;
            color:$dark-purple;
        }
        span {
            font-weight:300;
            color:$light-grey;
        }
    }
    &__search {
        position: relative;
        width:100%;
        max-width:500px;
        &-input {
            width:100%;            
            height:25px;
            padding-left:10px;
            color:$light-grey;
            background:$light-purple;
            border:1px solid $border;
        }
        &-label {
            display:block;
            position:absolute;
            right:10px;
            top:50%;
            transform:translate(0,-50%);
            width:16px;
            height:16px;
            background:url(../../img/search.png) center center no-repeat;
            background-size:contain;
        }
        &-submit {
            position:absolute;
            right:-9999px;
            top:0;
        }
    }
}

.logo {
    max-width:70px;
    height:auto;
    display:block;
    &--footer {
        filter: grayscale(1) invert(100%);        
    }
}

.main {
    flex:auto;
}

.footer {
    flex-shrink:0;
    padding-top:40px;
    background:$dark-purple;
    &__bottom {
        display: flex;
        align-items:center;
        justify-content:flex-end;
        height:40px;
        border-top:1px solid rgba($white,0.7);
        text-align: right;
        margin:50px 15px 0;
        color:$white;
    }
    &__address {
        font-weight:300;
        margin:0;
    }
    &__logo {
        margin-left:35px;
    }
    &__header {        
        @include font-size(14px);
        color:$white;
        padding-bottom:5px;
        border-bottom:1px solid $white;
        margin-bottom:25px;
    }
    &__list {
        @extend .header__phone-list;
        &-item--phone {
            @extend .header__phone-item;
            &:before {
                background:url(../../img/phone-f.png) center center no-repeat;
                background-size: contain;
            }
        }
        &-item {
            @include font-size(13px);
            color:$white;
            line-height:16px;
        }
        &-item a,&-item--phone a {            
            color:$white;
            &:hover {
                color:rgba($white,0.6);
            }
        }
    }
}