$main_font: "Roboto";
$fix_font: Arial, sans-serif;
$main_font_size: 15px;
$main_line_height: 1.5;

/*Animations*/

$main_animation: all .3s ease-in-out;

$white: #ffffff;
$black: #231f20;
$light-purple: #f6f6ff;
$purple:#9797d3;
$dark-purple:#5050a6;
$grey:#4f4f4f;
$light-grey:#838383;
$yellow:#ede05d;
$border:#ececec;